<!doctype html>
<html class="no-js" {{ site.language_attributes }}>

<head>
    <meta charset="{{ site.charset }}"/>
    <title>{{ site.name }}</title>
    <meta name="description" content="{{ site.description }}">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="google-site-verification" content="1tuZDlqIIyohQ7JB_WjrX_LNifmX5n7XrFKRPnRNU20" />
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,500,900" rel="stylesheet">
    <link rel="stylesheet" href="{{ theme.link }}/dist/fonts/fontello/css/fontello.css"/>
    <link rel="stylesheet" href="{{ theme.link }}/dist/css/vendor.css"/>
    <link rel="stylesheet" href="{{ theme.link }}/dist/css/main.css"/>
    <link rel="pingback" href="{{ site.pingback_url }}"/>
    {{ function('wp_head') }}
</head>

<body class="{{ body_class }}{% block page_class %}{% endblock page_class %}" data-template="base.twig">
    {% block header %}
        <header class="alternate-desktop-header">
            <div class="header--left">
                <a class="js-logo-fixed logo" href="/">{% include 'partials/_logo-mark.twig' %}</a>
                <a href="javascript:void(0)" class="js-menu-icon-fixed js-menu-trigger menu-trigger"><span></span></a>
            </div>
            <div class="header--right">
                <nav class="main-navigation">
                    <ul>
                        {% for item in menu.get_items %}
                            <li class="{% if item.current %} active {% endif %} {% if item.get_children %}has-dropdown{% endif %}">
                                <a href="{{ item.get_link }}">{{ item.title }}</a>
                                {% if item.get_children %}
                                    <ul class="dropwdown">
                                        {% for child in item.get_children %}
                                            <li><a href="{{ child.get_link }}">{{ child.title }}</a></li>
                                        {% endfor %}
                                    </ul>
                                {% endif %}
                            </li>
                        {% endfor %}
                    </ul>
                </nav>
            </div>
        </header>
    {% endblock %}

    {% block main_content %}
        <main class="content">
            {% block content %}
                Sorry, no content
            {% endblock %}
        </main>
    {% endblock main_content %}

    {% block footer %}
        <footer id="footer">
            <div class="wrapper">
                <div class="footer--left">
                    <a href="/" class="logo">{% include 'partials/_logo.twig' %}</a>
                </div>
                <div class="footer--right">
                    <nav class="footer-navigation">
                        <ul>
                            {% for item in menu.get_items %}
                                <li>
                                    <a href="{{ item.get_link }}">{{ item.title }}</a>
                                </li>
                            {% endfor %}
                        </ul>
                    </nav>
                    <nav class="secondary-navigation">
                        <ul>
                            {% for item in secondary_menu.get_items %}
                                <li>
                                    <a href="{{ item.get_link }}">{{ item.title }}</a>
                                </li>
                            {% endfor %}
                            <li><p>Copyright &copy; Advanced Vetting Solutions {{ "now"|date("Y") }}</p></li>
                        </ul>
                    </nav>

                </div>
            </div>
        </footer>

        <script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
        <script src="{{ theme.link }}/dist/js/vendor.js"></script>
        <script src="{{ theme.link }}/dist/js/main.js"></script>
        {{ function('wp_footer') }}
        {% block extra_footer_scripts %}{% endblock extra_footer_scripts %}
    {% endblock footer %}
</body>
</html>
