{% extends "base.twig" %}

{% block page_class(' homepage') %}

{% block extra_footer_scripts %}
    <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAHGdL0-zlPSgcD5dG0CY54oR_94Aykues&callback=initMap"></script>
{% endblock extra_footer_scripts %}

{% block content %}
    <div class="block blue padded block--page-banner">
        <div class="wrapper">
            <h1>{{ post.title }}</h1>
            <p>{{ post.get_field('banner_text') }}</p>
        </div>
    </div>

    <div class="block padded white block--main-content">
        <a class="js-logo-inverse logo-inverse" href="/">{% include 'partials/_logo-mark.twig' %}</a>
        <a href="javascript:void(0)" class="js-menu-icon-inverse js-menu-trigger menu-trigger-inverse"><span></span></a>
        <div class="wrapper">
            {{ post.content }}
        </div>
    </div>

    <div class="block block--about-us">
        <section class="split-section">
            <div class="split-section--left about-us--introduction">
                <div class="inner">
                    {{ post.get_field('about_us_introduction') }}
                </div>
            </div>
            <div class="split-section--right about-us--image" style="background-image: url('{{ Image(post.get_field('about_us_image')).src|resize(800,800) }}')" ></div>
        </section>
    </div>

    <div class="block padded white block--services">
        <a class="js-logo-inverse logo-inverse" href="/">{% include 'partials/_logo-mark.twig' %}</a>
        <a href="javascript:void(0)" class="js-menu-icon-inverse js-menu-trigger menu-trigger-inverse"><span></span></a>
        <div class="wrapper large">
            {{ post.get_field('services_introduction') }}
            <div class="flex-cols three">
                {% for post in vetting_services %}
                    <div class="col">
                        {% include ['tease-'~post.post_type~'.twig', 'tease.twig'] %}
                    </div>
                {% endfor %}
            </div>
            <a href="{{ options.services_page_link }}" class="arrow-link right">Learn more</a>
        </div>
    </div>

    <div class="block block--contact-us">
        <a class="js-logo-inverse logo-inverse" href="/">{% include 'partials/_logo-mark.twig' %}</a>
        <section class="split-section reverse">
            <div class="split-section--left contact-us--map">
                <div id="map"></div>
            </div>
            <div class="split-section--right contact-us--info">
                <div class="inner">
                    <h2>Contact Us</h2>
                    <ul>
                        {% if options.phone_number %}
                            <li><span class="icon icon-phone"></span> <a href="tel:{{ options.phone_number }}">{{ options.phone_number }}</a></li>
                        {% endif %}
                        {% if options.email_address %}
                            <li><span class="icon icon-mail"></span> <a href="mailto:{{ options.email_address }}">{{ options.email_address }}</a></li>
                        {% endif %}
                        {% if options.postal_address %}
                            <li><span class="icon icon-location"></span> <span>{{ options.postal_address }}</span></li>
                        {% endif %}
                    </ul>
                </div>
            </div>
        </section>
    </div>

    <div class="block white padded block--get-in-touch">
        <a class="js-logo-inverse logo-inverse" href="/">{% include 'partials/_logo-mark.twig' %}</a>
        <a href="javascript:void(0)" class="js-menu-icon-inverse js-menu-trigger menu-trigger-inverse"><span></span></a>
        <div class="wrapper">
            {{ post.get_field('get_in_touch_introduction') }}
        </div>
    </div>
{% endblock %}
