{% extends "base.twig" %}

{% block page_class(' services-list-page') %}

{% block content %}
    <div class="block block--page-banner">
        <div class="wrapper cms-content">
            {{ breadcrumbs }}
            <h1>{{ post.title }}</h1>
        </div>
    </div>

    {% if post.content %}
        <div class="block white padded block--main-content">
            <a class="js-logo-inverse logo-inverse" href="/">{% include 'partials/_logo-mark.twig' %}</a>
            <a href="javascript:void(0)" class="js-menu-icon-inverse js-menu-trigger menu-trigger-inverse"><span></span></a>
            <div class="wrapper cms-content">
                {{post.content}}
            </div>
        </div>
    {% endif %}

    <div class="block white padded-bottom block--services-list">
        <a class="js-logo-inverse logo-inverse" href="/">{% include 'partials/_logo-mark.twig' %}</a>
        <a href="javascript:void(0)" class="js-menu-icon-inverse js-menu-trigger menu-trigger-inverse"><span></span></a>
        <div class="wrapper cms-content">
            <div class="service-list">
                {% for service in vetting_services %}
                    <div class="service">
                        <a href="{{ fn('get_permalink', service.ID) }}">
                            <span class="image">
                                <img src="{{ Image(service.thumbnail).src|resize(287.3,189) }}" alt="">
                            </span>
                            <span class="info">
                                <span class="title">{{ service.post_title }}</span>
                                <span class="excerpt">{{ service.content|excerpt(25) }}</span>
                                <span class="btn btn-primary">Learn More</span>
                            </span>
                        </a>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>

    <div class="layout-builder">
        {% include 'layout-builder.twig' %}
    </div>
{% endblock %}