{% extends "base.twig" %}

{% block page_class(' contact-page') %}

{% block extra_footer_scripts %}
    <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAHGdL0-zlPSgcD5dG0CY54oR_94Aykues&callback=initMap"></script>
{% endblock extra_footer_scripts %}

{% block content %}
    <div class="block block--page-banner">
        <div class="wrapper cms-content">
            {{ breadcrumbs }}
            <h1>{{ post.title }}</h1>
        </div>
    </div>

    <div class="block white padded block--main-post-content">
        <a class="js-logo-inverse logo-inverse" href="/">{% include 'partials/_logo-mark.twig' %}</a>
        <a href="javascript:void(0)" class="js-menu-icon-inverse js-menu-trigger menu-trigger-inverse"><span></span></a>
        <div class="wrapper cms-content">
            {{post.content}}
        </div>
    </div>

    <div class="block white padded-bottom block--get-in-touch">
        <a class="js-logo-inverse logo-inverse" href="/">{% include 'partials/_logo-mark.twig' %}</a>
        <a href="javascript:void(0)" class="js-menu-icon-inverse js-menu-trigger menu-trigger-inverse"><span></span></a>
        <div class="wrapper">
            {{ post.get_field('get_in_touch_introduction') }}
        </div>
    </div>

    <div class="block white block--contact-us">
        <a class="js-logo-inverse logo-inverse" href="/">{% include 'partials/_logo-mark.twig' %}</a>
        <section class="split-section reverse">
            <div class="split-section--left contact-us--map">
                <div id="map"></div>
            </div>
            <div class="split-section--right contact-us--info">
                <h2>Contact Us</h2>
                <ul>
                    {% if options.phone_number %}
                        <li><span class="icon icon-phone"></span> <a href="tel:{{ options.phone_number }}">{{ options.phone_number }}</a></li>
                    {% endif %}
                    {% if options.email_address %}
                        <li><span class="icon icon-mail"></span> <a href="mailto:{{ options.email_address }}">{{ options.email_address }}</a></li>
                    {% endif %}
                    {% if options.postal_address %}
                        <li><span class="icon icon-location"></span> <span>{{ options.postal_address }}</span></li>
                    {% endif %}
                </ul>
            </div>
        </section>
    </div>
{% endblock %}