<div class="block block--accordion-list {{ content.block_appearance.vertical_spacing }} {{ content.block_appearance.background_colour }}">
  <div class="wrapper cms-content {{ content.block_appearance.restricted_width }}">
    {% if content.block_content.title %}
      <h3>{{ content.block_content.title }}</h3>
    {% endif %}
    {% if content.block_content.introduction %}
      <div>{{ content.block_content.introduction }}</div>
    {% endif %}
    <div class="accordion-list">
      {% for item in content.block_content.accordion_item %}
        <div class="accordion-item">
          <p class="accordion-title">{{ item.item_title }}
            <span class="icon icon-plus"></span>
          </p>
          <div class="accordion-hidden">
            {{ item.item_content }}
          </div>
        </div>
      {% endfor %}
    </div>
  </div>
</div>