
<div class="block padded block--call-to-action-banner {{ content.block_appearance.background_colour }} split-{{ content.block_appearance.split_colour }}">
  <div class="wrapper cms-content {{ content.block_appearance.restricted_width }}">
    <div class="call-to-action">
      <div class="cta-image" style="background-image: url('{{ Image(content.block_content.banner_image).src }}')"></div>
      <div class="cta-info">
        <h3>{{ content.block_content.banner_title }}</h3>
        <p>{{ content.block_content.banner_blurb }}</p>
        {% if content.block_content.banner_link_text %}
          <a href="{{ content.block_content.banner_link_url }}">{{ content.block_content.banner_link_text }}</a>
        {% endif %}
      </div>
    </div>
  </div>
</div>