<div class="block block--four-cols {{ content.block_appearance.vertical_spacing }} {{ content.block_appearance.background_colour }}">
    {% if content.block_appearance.background_colour == 'white' or content.block_appearance.background_colour == 'grey' %}
        <a class="js-logo-inverse logo-inverse" href="/">{% include 'partials/_logo-mark.twig' %}</a>
        <a href="javascript:void(0)" class="js-menu-icon-inverse js-menu-trigger menu-trigger-inverse"><span></span></a>
    {% endif %}
    <div class="wrapper cms-content {{ content.block_appearance.restricted_width }}">
        {% if content.block_content.title %}
            <h2>{{ content.block_content.title }}</h2>
        {% endif %}
        {% if content.block_content.introduction %}
            {{ content.block_content.introduction }}
        {% endif %}
        <div class="flex-cols four">
            <div class="col">
                {{ content.block_content.left_content }}
            </div>
            <div class="col">
                {{ content.block_content.middle_content_left }}
            </div>
            <div class="col">
                {{ content.block_content.middle_content_right }}
            </div>
            <div class="col">
                {{ content.block_content.right_content }}
            </div>
        </div>
    </div>
</div>